---
layout: page
title: Posts
omit-title-tag: true
hide-header: true
---
<h1>Posts</h1>
{% for post in paginator.posts %}
<div class="post-list--post">
	<header class="post--header">
		<h1 itemprop="name headline">
			<a class="post-link" href="{{ post.url | prepend: site.baseurl }}"><span class="hover-underline">{{ post.title }}</span></a>
		</h1>
		<time itemprop="datePublished" datetime="{{post.date | date: "%Y-%m-%d"}}">{{ post.date | date: "%b %-d, %Y" }}</time>
		<!-- <ul class="cats" itemprop="keywords">
			{% for cat in post.tags %}
				<li>{{ cat }}</li>
			{% endfor %}
		</ul> -->
	</header>
	<!-- <div itemprop="description">
		{{ post.excerpt }}
	</div> -->
</div>
{% endfor %}

<ul class="pagination" role="navigation" aria-labelledby="paginglabel">
  {% if paginator.previous_page %}
	 <a href="{{ paginator.previous_page_path }}">« Newer</a>
  {% endif %}
  <span class="highlight">{{ paginator.page }}/{{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}">Older »</a>
  {% endif %}
</ul>