---
layout: page
title: Portfolio
permalink: /portfolio/
hide-header: true
---
<section class="portfolio">
	<h1>Recommendations</h1>
	{% for reference in site.data.recommendations %}<blockquote>
		<p>{{reference.recommendation}}</p>
		<footer>{{reference.author}}</footer>
	</blockquote>{% endfor %}
</section>
{% for category in site.data.portfolio.categories %}
<section class="portfolio">
<h1>{{category.name}}</h1>
{% for pro in category.projects %}{% include project.html project=pro %}{% endfor %}
</section>
{% endfor %}
