{% capture content %}
<!doctype html>
<html lang="en">
    <style>
        html, body {height: 100%; width: 100%; overflow: hidden; font-family: sans-serif; }
        * {
            box-sizing: border-box;
        }
        body::after {
            content: '{{ include.message | "" }}';
            color: #bbb;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
        }
    </style>
    <style>
        {{ include.style }}
    </style>
    <body>
        {{ include.html }}
    <script type="text/javascript">
        {{ include.javascript  }}
    </script>
    </body>
</html>
{% endcapture %}

{% assign escaped_content = content | replace: "'", "&#39;" | replace: '"', "&#34;"  %}

<div class="code-preview" {% if include.url %} data-url="{{ include.url }}" {% endif %}>
<iframe srcdoc="{{ escaped_content }}">
</iframe>
</div>
<!-- <a href="data:text/plain;base64,{{ content | base64_encode }}" >View source</a> -->